body{
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}
:root{
  --yellow: #ffc102;
  --blue: #003a8c;
  --red: #c33c54;
  --jean-blue: #254e70;
  --gray-blue: #37718e;
  --gray: #3c3c3c;
}
a{
    color: white;
    text-decoration: none;
    display: block;
}
/*Colors*/
.yellow{
    color: var(--yellow);
}
.white{
    color: white;
}

/*Parts*/
/*Top Bar*/
.topbar {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: var(--gray);
    top: 0;
    left: 0;
}
.logo{
    position: relative;
    height: 100%;
    width: auto;
}
.logo > img{
    height: 100%;
}
.logoText{
    display: inline-block;
    position: absolute;
    top: 0;
}
.logo h1{
    margin-top: 40px;
    font-size: 300%;
}
.trigger{
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 60px;
    height: auto;
}
.ts:first-child{
    width: 100%;
    height: 10px;
    background-color: var(--yellow);
}
.ts:nth-child(2){
    width: 80%;
    height: 10px;
    background-color: var(--yellow);
    margin-left: 12px;
    margin-top: 10px;
    transition: all 50ms;
}
.ts:nth-child(3){
    width: 60%;
    height: 10px;
    background-color: var(--yellow);
    margin-left: 24px;
    margin-top: 10px;
    transition: all 50ms;
}
.trigger:hover > .ts:nth-child(2),.trigger:hover > .ts:nth-child(3){
    margin-left: 0px;
}
.trigger:hover{
    cursor: pointer;
}
/*Sidebar*/
.sidebar{
    position: absolute;
    height: 100%;
    width: 250px;
    top: 0;
    right: -255px;
    background-color: var(--gray);
    border-left: 5px solid var(--yellow);
    z-index: 999;
}
.nav-item{
    display: block;
    width: 200%;
    transition: all .2s ease-in-out;
    background: linear-gradient(to right, var(--gray) 50%, var(--jean-blue) 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-item:hover{
    background-position:right bottom;
}
.nav-item > i{
    display: block;
    float: left;
    font-size: 200%;
    color: white;
    margin-top: 30px;
    margin-right: 15px;
}
.nav-item h1{
    display: block;
}
.logo-sidebar{
    height: 100px;
    display: block;
}
.logo-sidebar img{
    height: 100%;
}
.logo-sidebar h3{
    display: inline-block;
    position: absolute;
    top: 0;
}
.logo-sidebar h2{
    display: inline-block;
    color: white;
    position: absolute;
    top: 20px;
}


/*Blocker*/
blocker{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: #000;
    opacity: .7;
}
blocker:hover{
    cursor: pointer;
}